.newTask {
    flex-grow: 1;
    height: 35px;
    padding: 10px;
    font-size: 14px;
    border-color: #f0efef;
    border-style: solid;
}

.submitButton {
    background-color: teal;
    color: white;
    border-style: none;
    height: 35px;
    font-size: 14px;
    margin: 0 0 0 20px;
}

.submitButton:active {
    border: solid black 2px;
}

.inputSpan {
    width: 100%;
    display: flex;
}